<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Credits</title>

  <style>
    #author_image {
      width:50px;
      height:50px;
      margin-left:auto;
      margin-right:auto;
      display:block;
      border: 2px solid hsl(255, 100%, 50%);
      border-radius: 5px;
    }

    #dev {
      color:white;
      text-align:center;
    }

    #dev_name {
      color:red;
      text-align:center;
    }
  </style>
</head>
<body style="background:black;">
  <p id="dev"><strong>Developer</strong></p>
  <a href="https://github.com/jdl-joseph" title="young asian program man"><img src="https://avatars.githubusercontent.com/u/76137604?v=4" id="author_image" alt="jdl-joseph"></a>
  <p id="dev_name">jdl-joseph (@FirestarDev)</p>
  Asian Jesus
  <div style="bottom:0; position:fixed; color:white;" id="hc">
    <a href="./">Home</a>
    <a href="./credits">Credits</a>
  </div>
</body>
</html>