
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GitHub Profile: jdl-joseph</title>
</head>
<body style="background:black;background-image:url('https://cdn.wallpapersafari.com/15/28/pqWJsO.jpg');">
  <font color="#FFFFFF" size="+3">GitHub Profile for: </font><font color="#0000FF" size="+3">jdl-joseph (joseph.L)</font>
  <div style="background-color:black; width:400px; border:3px solid lime; border-radius:3px;">
            <img src="https://avatars.githubusercontent.com/u/76137604?v=4" style="width:100px;height:100px;">
  </div>
</body>
</html>
            